:root{
  --ipad-width: 1024px;
  --ipad-height: 768px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar{
  display:flex;
  justify-content: center;
  padding : 4px;
}

.content{
  margin: auto;
}
.content .container{
  margin: auto;
  max-width: 1200px;
}

.ipad-screen-outline{
  /* logical ipad size is : 768 x 1024 */
  position:fixed;
  box-sizing: content-box;
  width: var(--ipad-width);
  height: var(--ipad-height);
  border: 40px solid #222;
  border-radius: 8px;
  border-left-width: 80px;
  margin: auto;
}
.ipad-screen-outline::before{
  content:"O";
  display:block;
  position: absolute;
  top: calc(var(--ipad-height) / 2);
  left:-50px;
  color: #aaa;
  font-weight: bold;
  font-size: 40px;
}

.ipad-screen-outline .background-image{
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.base{
  width:100%;
  display: grid;
  grid-template-columns: 1fr calc( var(--ipad-width) + 130px);
}