<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>699957095120-0j6gfpkr85jhjjoqfmtkg74v34cts48v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699957095120-0j6gfpkr85jhjjoqfmtkg74v34cts48v</string>
	<key>API_KEY</key>
	<string>AIzaSyAIZL3_SCNAuav8jvnpkj34UULX338a3BE</string>
	<key>GCM_SENDER_ID</key>
	<string>699957095120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>holusion</string>
	<key>PROJECT_ID</key>
	<string>holusion-divers</string>
	<key>STORAGE_BUCKET</key>
	<string>holusion-divers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699957095120:ios:e53b612381158817</string>
	<key>DATABASE_URL</key>
	<string>https://holusion-divers.firebaseio.com</string>
</dict>
</plist>