.react-mde{
  flex-grow: 1;
  display:flex;
  flex-direction: column;
  justify-items: stretch;
}
textarea.mde-text {
  flex-grow: 1;
} 
.react-mde .grip{
  background: none;
}
.mde-preview .mde-preview-content h1{
  color: #e31937;
  font-size: 18px;
  border: none;
}
.mde-preview .mde-preview-content h2{
  color: #666666;
  font-size: 16px;
}