<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16774029953-rm8d2du1pr1lsn8h3k0fh2mg8cp7dsfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16774029953-rm8d2du1pr1lsn8h3k0fh2mg8cp7dsfm</string>
	<key>API_KEY</key>
	<string>AIzaSyBt2LrRefTzjzc3OLxRAuQuib1Humsfg5U</string>
	<key>GCM_SENDER_ID</key>
	<string>16774029953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.holusion.native.demo</string>
	<key>PROJECT_ID</key>
	<string>holomouseio</string>
	<key>STORAGE_BUCKET</key>
	<string>holomouseio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16774029953:ios:075631ea61c65f24a0e380</string>
	<key>DATABASE_URL</key>
	<string>https://holomouseio.firebaseio.com</string>
</dict>
</plist>